@import url(https://fonts.googleapis.com/css?family=Google+Sans);

html,body {
  margin: 0;
  padding: 0;
  background-color: #f5f4f7;
  font-family: 'Google Sans', sans-serif;
  background-color: black;
  scroll-behavior: smooth;
  position: fixed;
  overflow: hidden
}  

body {
  height: 100%;
  width: 100%;
}

html:hover , body:hover {
  cursor: default
}

#main_w {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
}


#bg {
  height: 100vh;
  width: 100vw;
  filter: blur(100px) brightness(0.3);
  position: absolute;
  transition: 0.3s opacity;
}

.bg1 { background: url("/ressources/background/bg1.svg"); }
.bg2 { background: url("/ressources/background/bg2.svg"); }
.bg3 { background: url("/ressources/background/bg3.svg"); }

/* SIDE MENU CONFIGURATION */

.side_menu {
  background-color: rgba(0,0,0,0.5);
  grid-row: 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  border-radius: 4vw 4vw 0 0;
  z-index: 1;
}

.top_mc_gib, .gib_logo, .hr1, .b_txt, .server_state, .end_text {
  display: none
}

.button_c {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.side_b {
  align-self: center;
  height: 65%;
  width: 16%;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition-duration: 0.25s;
}

.side_b:hover {
  background-color: rgba(5,96,253,1);
  transition-duration: 0.25s;
  cursor: pointer;
}

.current {
  background-color: rgba(255,255,255,0.1);
}

.side_ico {
  filter: opacity(0.5);
  height: 30%;
  width: 30% ;
  color: transparent;
  transition-duration: 0.25s;
  justify-self: center;
  align-self: center;
  pointer-events: none;
}

/* CLASSEMENT WINDOW CONFIGURATION */

.window{
  grid-row: 1;
  z-index: 999;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12.5% 87.5%;
  overflow: hidden;
}

.title_c{
  width: 100%;
  margin: 0 0 0 3%;
  width: 85%;
  align-self: center;
  opacity: 0;
  transition: 0.3s;
}

#title_sub {
  color: rgba(255,255,255,0.3);
  font-size: 2vw;
  font-style: italic;
}

.title {
  color: rgba(255,255,255,1);
  font-size: 4vw;
  font-weight: bold;
  align-self: center;
}

.redisError {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255,100,100,1);
  grid-column: 2/5;
  grid-row: 2/5;
  align-self: center;
  justify-self: center;
  opacity: 0;
  transition: 1s
}

.redisError>div {
  width: 50%;
  text-align: center
}

.redisError>img {
  height: 10vh
}

.class_c {
  grid-row: 2;
  color: rgba(255,255,255,1);
  justify-self: center;
  display: grid;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
  transition: 0.3s;
  height: 100%
}

.class_c::-webkit-scrollbar {
  display: none;
}

.first_c, .second_c, .third_c, .other_c {
  border-radius: 3vh;
  justify-self: center;
  margin: 1.25vh 0;
  display: grid;
  transition: 0.3s;
  opacity: 0;
}

.first_c {
  height: 7vh;
  width: 80vw;
  background-color: rgba(255,255,255,0.27);
  margin: 4vh 0 1.25vh 0;
  grid-template-columns: 0% 60% 40%;
  grid-template-rows: 100%;
  font-size: 4.5vw;
}

.first_c:hover , .second_c:hover, .third_c:hover, .other_c:hover  {
  background-color: rgba(255,255,255,0.1);
  box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,0.05);
  transform: scale(1.03);
  transition: 0.3s;
}

.player_name {
  align-self: center;
  justify-self: start;
  margin: 0 0 0 12.5%;
  pointer-events: none;
  white-space: nowrap;
}

.player_position_hidden {
  color : rgba(255,255,255,1);
  margin : 0 -30px 0 0 ;
  opacity: 0;
  transition: 0.5s
}

.player_position_visible {
  color : rgba(5,96,253,1);
  margin : 0 15px 0 0 ;
  opacity: 1;
  transition: 1s
}

.score_c_over {
  align-self: center;
  justify-self: end;
  height: 100%;
  width: 0%;
  display: grid;
  overflow: hidden;
  border-radius: 0 3vh 3vh 0;
  pointer-events: none;
  animation-duration: 0.7s;
  animation-fill-mode:forwards;
}

@keyframes score_anim {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.score_c {
  align-self: center;
  height: 140%;
  width: 110%;
  border-radius: 200px; 
  background-color: rgba(5,96,253,1);
}

.second_c .score_c , .third_c .score_c {
  background-color: rgba(5,96,253,0.75);
}

.other_c .score_c{
  background-color: rgba(5,96,253,0.5);
}

.score {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#crown {
  filter: invert(98%) sepia(37%) saturate(7496%) hue-rotate(333deg) brightness(99%) contrast(103%);
  height: 50px;
  transform: rotate(-23deg);
  position: relative;
  top: -32px;
  left: -8px;
  z-index: 999;
  pointer-events: none;
  opacity: 0
}

.second_c, .third_c {
  height: 6.5vh;
  width: 75vw;
/*   aspect-ratio: 10; */
  background-color: rgba(255,255,255,0.2);
  grid-template-columns: 61% 39%;
  grid-template-rows: 100%;
  font-size: 3.5vw;
}

.other_c {
  height: 6vh;
  width: 70vw;
  aspect-ratio: 10;
  margin: 1vh 0;
  background-color: rgba(255,255,255,0.12);
  grid-template-columns: 62% 38%;
  grid-template-rows: 100%;
  font-size: 3vw;
}



/* PLAYER DETAILS PARTS POGGERS */

.player_details {
  display: none
}

/* SCROLLBAR DESIGN */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7d7d7d transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
  border-radius: 10px;
}

::-webkit-scrollbar-corner { 
  background: transparent; 
}
