<div class='window'>

  <div class='loader'>Obtention des données ...</div>

  <div class='topLeftContainer'>
    <img class='playerSkin'>
    <div class='playerDescContainer'>
      <div class='playerName'></div>
      <div class='playerUUID descpre'>Minecraft UUID: <span></span></div>
      <div class='playerPlaytime descpre'>Temps de jeu: <span></span></div>
      <div class='playerJoinDate descpre'>Première connexion: <span></span></div>
      <div class='playerLastDate descpre'>Dernière connexion: <span></span></div>
      <div class='playerSucessMade descpre'>Succès terminés: <span></span></div>
    </div>
  </div>

  <div class='topRightContainer'>
    <div class='baseTop'>
      <img class="homeIco" class='side_ico' src="/ressources/icon/home.svg">
      <div class='baseTitle'>Coordonnées de la base</div> 
    </div>
    <div class='baseCoord'>
      <div class='x'><span class='value'></span><span class='desc coordHide'>X</span></div>
      <div class='y'><span class='value'></span><span class='desc coordHide'>Y</span></div>
      <div class='z'><span class='value'></span><span class='desc coordHide'>Z</span></div>
    </div>
  </div>

  <div class='bottomContainer'>
    <div class='classListContainer'>
      <div class='classListTile'>Meilleurs classement de <span>[name]</span></div>
      <div class='classListItem'><span class='classPos'></span><span class='className'></span></div>
      <div class='classListItem'><span class='classPos'></span><span class='className'></span></div>
      <div class='classListItem'><span class='classPos'></span><span class='className'></span></div>
      <div class='classListItem'><span class='classPos'></span><span class='className'></span></div>
      <div class='classListItem'><span class='classPos'></span><span class='className'></span></div>
      <div class='voirPlusClass'>Voir tous les classements</div>
    </div>
    <div class='shopsListContainer'>
      <div class='shopsListTile'>Shops appartenant à <span>[name]</span></div>
      <div class='noShops'>Aucun shop n'appartient à <span>[name]</span></div>
      <div class='shopContainer'></div>
      <div class='playerHasMore'></div>
      <div class='voirPlusShops'>Voir tous les shops</div>
    </div>
    <div class='statsListContainer'>
      <div class='statsListTile'>Statistiques de <span>[name]</span></div>
      <div class='statsList'></div>
      <div class='voirPlusStats'>Voir toutes les statistiques</div>
    </div>
  </div>

</div>