<div class='window'>
  <div class='title_c'>
    <div class='title' id='class_title'></div>
    <div id='title_sub'></div>
  </div>
  <div class='redisError'>
    <img src='/ressources/icon/Redis_Logo.svg' height='200px' width='200px'>
    <div></div>
  </div>
  <div class='class_c'>
    <div class='first_c'>
      <img id= 'crown' src='/ressources/icon/crown.svg'>
      <p class='player_name'><span class=player_position></span></p>
      <div class='score_c_over'>
        <div class='score_c'>
          <div class='score'></div>
        </div>
      </div>
    </div>
    <div class='second_c'>
      <p class='player_name'><span class=player_position></span></p>
      <div class='score_c_over'>
        <div class='score_c'>
          <div class='score'></div>
        </div>
      </div>
    </div>
    <div class='third_c'>
      <p class='player_name'><span class=player_position></span></p>
      <div class='score_c_over'>
        <div class='score_c'>
          <div class='score'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='player_details'>
      <div class='player_skin_c'>
        <i></i>
        <img>
      </div>
      <div class='player_details_text_c'>
        <div class='player_position'></div>
        <div class='d_player_name'></div>
        <div class='d_player_score'></div>
    </div>
  </div>
  <div class='other_class_c'>
    <div class='other_title'>D'autres classements de ce joueur:</div>
    <div class='class_list'>
      <div class='other_class'>Test</div>
      <div class='other_position'>#2</div>
    </div>
    <div class='class_list'>
      <div class='other_class'>Test</div>
      <div class='other_position'>#8</div>
    </div>
    <div class='class_list'>
      <div class='other_class'>Test</div>
      <div class='other_position'>#4</div>
    </div>
  </div>
</div>