<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8" author="Mathis Verstrepen">
  <title>GameInBox | Shops</title>
  <meta name="title" content="GameInBox | Shops">
  <meta name="description" content="Retrouvez la liste des shops et des items à vendre du serveur Minecraft Survie Vanilla 1.18 de Gameinbox | Par Diikstra">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://diikstra.fr/gameinbox/shops">
  <meta property="og:title" content="GameInBox | Shops">
  <meta property="og:description" content="Retrouvez la liste des shops et des items à vendre du serveur Minecraft Survie Vanilla 1.18 de Gameinbox | Par Diikstra">
  <meta property="og:image" content="https://diikstra.fr/ressources/icon/gibLogo.png">

  <link rel="stylesheet" href="/ressources/textures/minecraft_icon.css">

  <link rel="stylesheet" media='(min-aspect-ratio:1/1)' href="/general/side_menu/sideMenuMain.css"/>
  <link rel="stylesheet" media='(min-aspect-ratio:1/1)' href="/shops/style/shopsMain.css"/>
  <link rel="stylesheet" media='(max-aspect-ratio:1/1), (pointer:none), (pointer:coarse)' href="/shops/style/shopsMobile.css"/>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script async defer data-website-id="d34310df-f1b1-48c6-b40b-ac4cbecb6fb8" src="https://metrics.diikstra.fr/diikstra_metrics.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/shops/script/shops.js"></script>
</head>

<link rel="icon" type="svg" href="/ressources/icon/gibLogo.png" />

<body>