<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8" author="Mathis Verstrepen">
  <title>GameInBox | Joueur</title>

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://diikstra.fr/gameinbox">
  <meta property="og:title" content="GameInBox | Joueur">
  <meta property="og:description" content="Retrouvez toutes les informations liées au serveur Minecraft 1.18 Gameinbox | Par Diikstra et Codinbox">
  <meta property="og:image" content="https://diikstra.fr/gameinbox/content/temp_logo.jpg">

  <link rel="stylesheet" href="/player/style/main.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script async defer data-website-id="d34310df-f1b1-48c6-b40b-ac4cbecb6fb8" src="https://metrics.diikstra.fr/diikstra_metrics.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/player/script/main.js"></script>
</head>

<link rel="icon" type="svg" href="/gh/content/temp_logo.svg" />

<body>