<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8" author="Mathis Verstrepen">
  <title>GameInBox | Home</title>
  <meta name="title" content="GameInBox | Home">
  <meta name="description" content="Retrouvez toutes les informations liées au serveur Minecraft Survie Vanilla 1.18 de Gameinbox | Par Diikstra">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://diikstra.fr/gameinbox">
  <meta property="og:title" content="GameInBox | Home">
  <meta property="og:description" content="Retrouvez toutes les informations liées au serveur Minecraft Survie Vanilla 1.18 de Gameinbox | Par Diikstra">
  <meta property="og:image" content="https://diikstra.fr/ressources/icon/gibLogo.png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media='(min-aspect-ratio:1/1)' href="/general/side_menu/sideMenuMain.css"/>
  <link rel="stylesheet" media='(min-aspect-ratio:1/1)' href="/gh/style/homeMain.css"/>
  <link rel="stylesheet" media='(max-aspect-ratio:1/1), (pointer:none), (pointer:coarse)' href="/gh/style/homeMobile.css"/>

  <script type="text/javascript">const json_data = "<%= param %>" </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/gh/script/progressbar.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@^2/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
  <script src="/gh/script/home.js"></script>
  <script async defer data-website-id="d34310df-f1b1-48c6-b40b-ac4cbecb6fb8" src="https://metrics.diikstra.fr/diikstra_metrics.js"></script>
  
</head>

<link rel="icon" type="svg" href="/ressources/icon/gibLogo.png" />

<body>