<div id='player_w' class='window'>
    <div class='title_zone1' id='player_title_zone'>
        <div class='w_title'>Liste des joueurs</div>
        <div id='player_search_c'>
            <input type='text' placeholder='Rechercher un joueur...' id='player_search'>
        </div>
    </div>
    <div id='p_main_c'>
    </div>
</div>