<div id='statistic_w' class='window'>
    <div class='title_zone1'>
        <div class='w_title'>Statistiques et Classements</div>
        <div class='w_subtitle'>Liste de toutes les statistiques et classements du serveur</div>
    </div>
    <div class='cat_class' id='cat1'>
        <p class='cat_title'>Statistiques</p>
        <div class='element_c' id='statistiques_c'>
            <p class='sous_cat'>Meilleures statistiques</p>
            <p class='sous_cat_o' id='statistiques_autre'>Autres</p>
        </div>
    </div>
    <div class='cat_class' id='cat2'>
        <p class='cat_title'>Classements</p>
        <div class='element_c' id='classements_c'>
            <p class='sous_cat'>Meilleurs classements</p>
            <p class='sous_cat_o' id='classements_autre'>Autres</p>
        </div>
    </div>
    <div class='cat_class' id='cat3'>
        <p class='cat_title'>Autres</p>
        <div class='element_c' id='autres_c'>
            <p class='sous_cat'>Autres</p>
        </div>
    </div>
</div>