<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8" author="Mathis Verstrepen">
  <title>Diikstra | Home</title>

  <script async defer data-website-id="d34310df-f1b1-48c6-b40b-ac4cbecb6fb8" src="https://metrics.diikstra.fr/diikstra_metrics.js"></script>
  
  <link rel="stylesheet" href="dh/style/main.css">
</head>

<link rel="icon" type="image/png" href="/ressources/icon/dkt_ico.svg" />

<body>
  <div class="main_w">
    <div class="left_w">
      <div class='whited'></div>
    </div>
    <div class="right_w">
      <div class=logo>
      <img class ='d_svg' src='/ressources/icon/d.svg' height='400px' width ='400px'>
      <img class ='iikstra_svg' src='/ressources/icon/iikstra.svg' height='400px' width ='400px'>
      </div>
    </div>
  </div>
</body>

</html> 