<div class='window'>

  <div class='title_c blur'>
    <div class='title' id='class_title'>Liste et statistiques des succès Vanilla et custom</div>
    <div id='title_sub'>Liste, description et statistiques des succès obtenus (vanilla et custom) par les joueurs depuis l'ouverture du serveur</div>
  </div>

  <div class='selectAdvancementType blur'>
    <div class='selectAdvancementButtonC story select'>
      <div>Minecraft</div>
      <div>
        <img src='/ressources/image/grass_block.png'>
      </div>
    </div>
    <div class='selectAdvancementButtonC adventure'>
      <div>Aventure</div>
      <div>
        <img src='/ressources/image/empty_map.png'>
      </div>
    </div>
    <div class='selectAdvancementButtonC husbandry'>
      <div>Agriculture</div>
      <div>
        <img src='/ressources/image/hay_bale.png'>
      </div>
    </div>
    <div class='selectAdvancementButtonC nether'>
      <div>Nether</div>
      <div>
        <img src='/ressources/image/nether_bricks.png'>
      </div>
    </div>
    <div class='selectAdvancementButtonC end'>
      <div>L'end</div>
      <div>
        <img src='/ressources/image/end_stone.png'>
      </div>
    </div>
    <div class='selectAdvancementButtonC custom'>
      <div>Custom</div>
      <div>
        <img src='/ressources/image/command_block.gif'>
      </div>
    </div>
  </div>

  <div class='advancementTableC blur'>
    <table class='tableSucces'>
      <thead class='theadSucces'>
        <tr>
          <th scope="col">Succès</th>
          <th scope="col">Description</th>
          <th scope="col">Pourcentage d'achèvement</th>
        </tr>
      </thead>
      <tbody class='tbodySucces'></tbody>
    </table>
  </div>

  <div class='popup'>
    <div class='goback'>
      Retour
    </div>
    <div class='gomcnet'>
      <img src='/ressources/icon/external_link.svg'>
      Voir sur Minecraft.net
    </div>
    <div class='popContent'>
      <div class='popProgresC'>
        <div class='popimgC'>
          <img>
        </div>
        <div class='poptitleC'>
            <div class='popfrtitle'></div>
            <div class='popentitle'></div>
        </div>
        <div class='popDescC'>
        </div>
      </div>
      <div class='playerDetailsC'>
        <div class='playerDetailsTier'></div>
        <div class='playerDetailsT'>Joueurs ayant terminés ce succès</div>
        <div class='playerDetailsListC'>
        </div>
      </div>
    </div>
  </div>

</div>