<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8" author="Mathis Verstrepen">
  <title>GameInBox | Maintenance</title>
  <meta name="title" content="GameInBox | Maintenance">
  <meta name="description" content="Site actuellement en maintenance | Par Diikstra">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://diikstra.fr">
  <meta property="og:title" content="GameInBox | Maintenance">
  <meta property="og:description" content="Site en maintenance">
  <meta property="og:image" content="https://diikstra.fr/ressources/icon/gibLogo.png">

  <link rel="stylesheet" media='(min-aspect-ratio:1/1)' href="/maintenance/style/maintenanceMain.css"/>
  <link rel="stylesheet" media='(max-aspect-ratio:1/1), (pointer:none), (pointer:coarse)' href="/maintenance/style/maintenanceMobile.css"/>
  <script async defer data-website-id="d34310df-f1b1-48c6-b40b-ac4cbecb6fb8" src="https://metrics.diikstra.fr/diikstra_metrics.js"></script>
</head>

<link rel="icon" type="svg" href="/ressources/icon/gibLogo.png" />

<body>

    <div id='bg' class='bg1'></div>
    <div id='main_w'> 
        <div>SITE ACTUELLEMENT EN MAINTENANCE</div>
        <div>Désolé pour la gêne occasionnée.</div>
    </div>

</body>

</html>