<div class='side_menu'>
    <div class='top_mc_gib'>
      <img class="gib_logo" src="/ressources/icon/gameinbox_logo.svg" alt="GameInBox Logo" height="1000px" widht="3000px">
    </div>
    <hr class='hr1'/>
    <div class='button_c'>
      <div id='accueil_b' class='side_b'>
        <img id="accueil_ico" class='side_ico' src="/ressources/icon/home.svg" alt="Accueil Icone" height="500px" widht="500px">
        <p class='b_txt'>Accueil</p>
      </div>
      <div id='statistic_b' class='side_b'>
        <img id="statistiques_ico" class='side_ico' src="/ressources/icon/statistics.svg" alt="Statistique Icone" height="500px" widht="500px">
        <p class='b_txt'>Statistiques</p>
      </div>
      <div id='player_b' class='side_b'>
        <img id="joueurs_ico" class='side_ico' src="/ressources/icon/user.svg" alt="Joueur Icone" height="500px" widht="500px">
        <p class='b_txt'>Joueurs</p>
      </div>
      <div id='doc_b' class='side_b'>
        <img id="doc_ico" class='side_ico' src="/ressources/icon/doc.svg" alt="Documentation Icone" height="500px" widht="500px">
        <p class='b_txt'>Documentations</p>
      </div>
      <div id='dynmap_b' class='side_b'>
        <img id="dynmap_ico" class='side_ico' src="/ressources/icon/map.svg" alt="Dynmap Icone" height="500px" widht="500px">
        <p class='b_txt'>Dynmap</p>
      </div>
    </div>
    <div class='dataType'></div>
    <div class='server_state'>
      <div class='server_state_title'>Etat du serveur</div>
      <div class='server_state_value_c'>
        <div class='server_state_circle'></div>
        <div class='server_state_value'>Pinging...</div>
      </div>
    </div>
    <div class='end_text'>
      <a href='https://diikstra.fr' class='diikstrafr'>Diikstra.fr</a>
      <p> - </p>
      <p class=version>V1.05</p>
    </div>
</div>